.index,
.lemon,
.chocolate,
.oatmeal {
    font-family: Garamond, serif;
    font-weight: 800;
    color: pink;
    background-color: darkgoldenrod;
    text-align: center;
}

.link {
    background-color:lightgreen;
    font-weight: 500;
    text-align: center;
}

li {
    color: lightgreen;
    font-weight: 300;
    text-align: left;
}

.temp {
    color:darkorchid;
}

img {
    height: auto;
    width: 700px;
}